@charset "utf-8";

.slider .card{
    width:100%;
}
.slider .card img{
    height:100%;
}
.slider .slick-slide{
    margin-right: 5px!important;
    margin-left: 5px!important;
}
.slider .slick-arrow{
    z-index:2!important;
}
.slider .slick-next{
    right:-30px!important;
}
.slider .slick-prev{
    left:-30!important;
}

.main > .row{
    margin-top: 40px;
}

@media screen and (min-width:993px) {
    header{
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: white;
        width: 100vw;
    }
    .navbar-expand-lg{
        position: fixed;
        width: 33vw;
    }
}

@media screen and (max-width:992px) {
    .main-content{
        margin-top: 30px;
    }
}